<h1>{{ model.org.title}}</h1>

{{ model.org.description }}

<h2>${{ model.org.received}} Received</h2>

<h2>${{ model.org.funded }} Funded</h2>

{{#each model.org.news as |news|}}
  {{#news-item news=news }}{{/news-item}}
{{/each}}


<h2>Grants receved</h2>

{{#each model.grantsReceived as |grant|}}
  {{#grant-row grant=grant }}{{/grant-row}}
{{/each}}



<h2>Grants funded</h2>

{{#each model.grantsFunded as |grant|}}
  {{#grant-row grant=grant }}{{/grant-row}}
{{/each}}
